<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.careforyou">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAHTHONTWnI4h04jhbMvQgudcqKdIowfgg" />

        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScanItemsActivity"
            android:label="Scan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScanResult"
            android:label="Result"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Database.NutritionItemsHistory"
            android:label="Recent Search"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--<activity-->
            <!--android:name=".DietPlane.DietPlaneView"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->
        <!--<activity android:name=".DietPlane.SetPlane" />-->
        <activity
            android:name=".Location.LocationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DietPlane.Plane_temp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DietPlane.Plane_temp2"
            android:label="Choose Your Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DietPlane.Plane_temp3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".DietPlane.PlaneViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".Location.MapsActivity"></activity>
    </application>

</manifest>